@import "~bootstrap/scss/bootstrap.scss";

.trafficLight {
    background: black;
    height: 415px;
    width: 200px;
    padding-left: 2rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 5px darkslategrey; 
}

.trafficLight div {
    height: 130px;
    width: 140px;
    padding-left: 4em;
    padding-top: 5em;
}

.greyLight {
    border-radius: 50%;
    background: lightgray;
    margin-bottom: 5px;
    margin-top: 5px;
}

.redLight {
    background-color: red;
    border-radius: 50%;
    box-shadow: 20px 20px 50px 10px lightcoral;
    margin-bottom: 5px;
    margin-top: 5px;
}

.yellowLight {
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 20px 20px 50px 10px yellowgreen;
    margin-bottom: 5px;
}

.greenLight {
    background-color: green;
    border-radius: 50%;
    box-shadow: 20px 20px 50px 10px lightgreen;
    margin-bottom: 5px;
}

/*
.greyLight {
    border-radius: 50%;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
}

.redLight {
    color: red;
    box-shadow: 20px 20px 50px 10px lightcoral;
}

.yellowlight {
    color: yellow;
    box-shadow: 20px 20px 50px 10px rgb(247, 247, 19);
}

.greenLight {
    color: green;
    box-shadow: 20px 20px 50px 10px lightgreen;
}
*/