@import "~bootstrap/scss/bootstrap.scss";

.container {
    background-color: coral;
    height: 615px;
    width: 228px;
}

.greyOn {
    border-radius: 50%;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
}

.redOn {
    color: red;
    box-shadow: 20px 20px 50px 10px lightcoral;
}

.yellowOn {
    color: yellow;
    box-shadow: 20px 20px 50px 10px rgb(247, 247, 19);
}

.greenOn {
    color: green;
    box-shadow: 20px 20px 50px 10px lightgreen;
}